[2018-12-19 23:14] Noller-BASCO opened #1 "Read/Write to sub-collection"
The documentation states that you can supply a string to access sub-collections "[string] collection or subCollection reference to write to".

Firestore API requires: collection('A').doc('1').collection('B').doc('2') and does not support "A/1/B/2" path referance.

[2018-12-20 02:46] Sichangi commented on #1
Hey @Noller-BASCO  ✋

You can reference a subCollection path as follows, it has to be an odd numberd path
[code]
I have not added support for chaining the collection and document reference though

[2018-12-20 03:09] Noller-BASCO commented on #1
@Sichangi  What would the syntax look like using the 'A/1/B' approach?
msg.firestore = {
        collection: 'A/1/B',
        document: '2',
        operation: 'add'
      }
Creates a top level collection with the name "A/1/B"

[2018-12-20 03:11] Sichangi commented on #1
Yes that looks alright, have you tried it?

[2018-12-20 03:16] Sichangi commented on #1
Oops sorry, you're right, It actually creates a top level name

[2018-12-20 03:21] Noller-BASCO commented on #1
You beat me to it:
![image](https://user-images.githubusercontent.com/37918959/50261733-88d2a600-03d3-11e9-97f8-57d97729f310.png)

![image](https://user-images.githubusercontent.com/37918959/50261698-57f27100-03d3-11e9-805f-5a53a71f2fbf.png)

Do you have plans to continue to develop the flow? Do you think getting sub-collection support will be a big deal? Any idea when you think you might be able

[2018-12-20 03:44] Sichangi commented on #1
Hmm...  I have tried it on my instance once more and it seems to work just fine
![image](https://user-images.githubusercontent.com/16804232/50262436-6b78f880-0422-11e9-958d-ee4f85cb84fa.png)
![image](https://user-images.githubusercontent.com/16804232/50262480-9fecb480-0422-11e9-925c-2a528ac4f727.png)

[2018-12-20 03:51] Noller-BASCO commented on #1
You are correct. minor syntax issue on my end:
I was missing the leading "/"
![image](https://user-images.githubusercontent.com/37918959/50262673-13b59f80-03d8-11e9-8152-ca5f6ac60369.png)

Thank you very much!

[2018-12-20 03:54] Sichangi commented on #1
Even with your case, without the leading slash should work just fine

![image](https://user-images.githubusercontent.com/16804232/50262744-cfe88780-0423-11e9-82ba-00986ccb156d.png)

![image](https://user-images.githubusercontent.com/16804232/50262760-e5f64800-0423-11e9-91a8-1834b8452529.png)

[2018-12-20 03:58] Sichangi commented on #1
And just a point to note, if you need to set a custom document name, use the ``set`` operation instead of the ``add`` operation

[2018-12-20 03:59] #1 closed

[2019-03-04 16:23] Noller-BASCO opened #2 "Firestore set({"data": data},{merge:true})"
I am having issues getting the firestore set function to work with "merge:true" [link](https://firebase.google.com/docs/firestore/manage-data/add-data).

Is there a way to pass to do this at the current time?

[2019-03-05 02:23] sichangi commented on #2
At the moment that is not supported.
I'll have a look on how best I can add support for passing in options.

[2019-04-14 03:47] seanthomastima opened #3 "Firestore admin node missing"
I have installed node-red-contrib-cloud-firestore and can see the Firestore Read and Firestore Write nodes. However there is no Firestore admin (or Firebase admin) nodes referenced in the documentation.
Just wondering how to configure access to my Firestore data.

[2019-04-20 21:46] sichangi commented on #3
Hello @seanthomastima, did you solve this?

I've edited the admin configuration docs in your favour, I hope it helps

[2019-04-20 22:19] sichangi commented on #2
I've added partial support for this, through dynamically passing in the options as documented under the [Firestore Write](https://github.com/sichangi/node-red-contrib-cloud-firestore#firestore-write) section.
Will be working on passing in options through the editor a bit later though.

I hope this helps.

[2019-04-22 03:19] seanthomastima commented on #3
Hi
Thank you for your reply. I have not solved this yet!
Two questions:

   1. Should there be three nodes in the NodeRed palette?
   I can only see two. There is a read node and a write node, but no admin
   node. An image of what I see in the palette is attached.
   2. Where are the admin configuration docs you mention?

Kind regards
Sean

[image: image.png]

On Sun, 21 Apr 2019 at 09:47, Mecole

[2019-04-25 06:56] #2 closed

[2019-05-02 10:55] PolSpock opened #5 "Firebase Write - Error on publish message"
Hi,

On Node-Red 0.20.5 from docker image "nodered/node-red-docker:rpi" running on Raspberry 3 Model B+

I put Firestore Write node with a "Change" function node to pushing sample data (set String) and a "timestamp" node.

However, when i tried to publish the data i've got this error :

`Error: /usr/lib/arm-linux-gnueabihf/libstdc++.so.6: version 'GLIBCXX_3.4.21' not found (required by /data/node_

[2019-05-02 13:08] sichangi commented on #5
Hey @PolSpock , after looking around on the web, this seems to be more of a ``nodejs`` issue and how the underlying ``firebase-admin`` module interacts with it and is quite unlikely that this module is involved since it just wraps the ``firebase-admin`` module.

I'll definitely take a look at it though, but I propose you do some more research into the problem.

[2019-05-02 13:28] sichangi commented on #5
This issue seems to have some more information about your error:-
https://github.com/nodejs/docker-node/issues/259

[2019-05-02 19:38] #5 closed

[2019-05-06 05:33] sichangi commented on #3
The admin node is a configuration node, thus will not appear on the left side panel, instead, It'll appear on the right side panel under the configurations tab after configuring either of the other nodes.

[2019-05-06 05:33] #3 closed

[2019-05-12 07:46] seanthomastima commented on #3
Hi
Thank you very much for your reply. I appreciate it.
I have spent some time attempting to configure a basic test, but have had
no success at this point. I must be missing something.
When configuring the Admin node I have used:

   1. Name
   The public facing project name e.g. project-6501944XXX
   2. Service Account JSON
   The firebaseConfig contents e.g. {apiKey: "AIzaSyAbfhOIff_Q1ZWpXXX",

[2019-05-12 08:06] seanthomastima commented on #3
Hi
To add, I get the following errors:

   1. Bad service account json
   2. No firebase admin specified

I have tried all combinations I can think of to configure the account.
Kind regards
Sean

On Sun, 12 May 2019 at 19:45, Sean Thomas <sean.thomas@tima.co.nz> wrote:

--

Sean Thomas
Tima Consulting Ltd.Mobile +64 21 543 130
PO Box 548
Nelson 7040
New Zealandwww.tima.co.nzwww.escollate.com

[2019-05-12 08:18] seanthomastima commented on #3
Hi
Don't worry ALL SORTED. Finally recognised my error......
Kind regards
Sean

On Sun, 12 May 2019 at 19:45, Sean Thomas <sean.thomas@tima.co.nz> wrote:

--

Sean Thomas
Tima Consulting Ltd.Mobile +64 21 543 130
PO Box 548
Nelson 7040
New Zealandwww.tima.co.nzwww.escollate.com

[2019-06-03 12:20] gzngzn opened #7 "how loggin into FireStore"
Hi!
I cant login into firestore with  Service Account Json, pls say where i can copy data and how i can do paste. I tried alot ways from SDK Json and other, no way. Please help me! :)

[2019-06-10 10:15] bigdoods opened #8 "Configure Node settings from node input"
Hi,

I have a usercase to configure my node-red instance via a config file. I would like to set the firestore client settings from msg.payload node input. For example:

_Function node passing message to Firestore in node_
[code]
Would this be difficult to do?

Thanks in advance.

[2019-06-10 11:02] bigdoods commented on #8
I have been testing the Firestore read node and see in the documentation that there is support to configure the node collection, document and query when using the msg.firestore property. However, this is not working for me

[2019-06-11 22:39] JbIPS opened #9 "Payload nested object is not a plain JS object"
Hi,

I'm adding an object to an existing collection looking like
[code]
The problem is, the nested object `contact` is not reconized as a plain object and fails the Firestore checks resulting in the error
[code]
If I clone this object with JSON.parse/stringify in WriteNode, the error is gone but there must be a cleaner way to do so.

Any ideas? Thank you

[2019-06-12 15:32] JbIPS commented on #9
Actually it's a NodeRED thing, detailed [here](https://discourse.nodered.org/t/payload-and-js-plain-object/12100)

[2019-06-12 15:32] #9 closed

[2019-06-14 15:50] JbIPS opened #10 "Using collection groups queries"
Hi,

It seams like there is no way to handle collection groups queries as [described here](https://firebase.google.com/docs/firestore/query-data/queries#collection-group-query).

I'm willing to implement that but I'd like some insight if you already though about it. For example, should it be in a different node dedicated to it? Or should it be an option in the Write node?

Any hint will be appreci

[2019-06-15 17:47] sichangi commented on #10
Hello,
That's interesting, didn't notice that was actually there in the docs 😅,
Thanks for the heads up & PR, lemme review this

[2019-06-16 04:28] deutzia8152 opened #12 "Multiple service accounts not working"
Hi,

in firebaseAdminNode.js
[code]
The first service account works fine.
Two or more service accounts do not work.no core and firestore.

I think it will be fixed below.
[code]

[2019-06-16 09:13] sichangi commented on #12
Hi @deutzia8152 ,
Thanks for filing this issue,

Simply defining an additional application may not solve the overall problem,

Allowing users to define multiple applications either through the configuration node or dynamically through input may be a viable solution.

This might also solve [this issue](https://github.com/sichangi/node-red-contrib-cloud-firestore/issues/8)

[2019-06-16 10:23] #10 closed

[2019-06-16 12:34] sichangi commented on #12
As proposed, this has been patched by this [commit](https://github.com/sichangi/node-red-contrib-cloud-firestore/commit/4e83ba0edfbdb40fd4cc1534e68ace7fc50ad4ab)

[2019-06-16 12:34] #12 closed

[2019-06-16 12:37] sichangi commented on #8
Hi @bigdoods, this seems to be a really interesting use case, I think this may take quite some effort to implement, though am open to any ideas you've got on how to do it.

In the mean time, I have tried to make the firestore nodes extensible as described [here](https://github.com/sichangi/node-red-contrib-cloud-firestore#extensibility--further-uses).

Hope it helps

[2019-06-16 18:17] sichangi commented on #7
As described on the README file, admin configuration can be done through either read & write node from the first field in the form after which you can add a configuration.

[2019-06-16 18:17] #7 closed

[2019-06-20 16:06] JbIPS opened #13 "Provide a customizable snap handler"
Hi,

In some use cases, I need to return more than the data in store (some ref/metadata). I don't think it should be here by default so I though of passing a handler to the node, like in the `firestore` object.

This handler, if present, would be called [instead of `snapHandler`](https://github.com/sichangi/node-red-contrib-cloud-firestore/blob/master/src/Read/ReadNode.js#L51). This way, anyone co

[2019-06-21 14:28] sichangi commented on #13
Hi,
This was recently implemented [here](https://github.com/sichangi/node-red-contrib-cloud-firestore/blob/master/src/Read/ReadNode.js#L68).
Though I think a better way to actually implement it is by having the option to have the ``snapHandler`` function handle it or simply return the ``referenceQuery`` as linked above.

Though adding more UI options, may make the node seem bloated with functional

[2019-06-24 09:46] JbIPS commented on #13
I agree to not set that in the UI, since writing function in it is not very ideal.

I don't understand how the `referenceQuery` would achieve something like that. Could you provide an example please?

And if you think a custom handler would be useful, I'll implement it soon.

[2019-06-24 14:47] sichangi commented on #13
The ``referenceQuery`` exposes the [``DocumentReference``](https://firebase.google.com/docs/reference/node/firebase.firestore.DocumentReference.html) class which allows you to extend the query to your liking as well as adding your own handlers in subsequent nodes.

So in a subsequent function node, you can perform [asynchronous](https://nodered.org/docs/writing-functions#sending-messages-asynchron

[2019-06-24 14:50] sichangi commented on #13
Furthermore going with this approach opens up these additional [methods](https://firebase.google.com/docs/reference/node/firebase.firestore.DocumentReference.html#methods) for anyone who needs them.

[2019-06-25 16:39] JbIPS commented on #13
I created a simple PR of the behavior I was expecting, feel free to change/refuse it if you want to stick with the `referenceQuery` approach (but maybe rename it to `documentReference` or something like that).

Hope this will help :smiley:

[2019-07-03 05:51] Mike120Git opened #16 "Read in realtime mode stops listening"
Hi!
I noticed that Read node in realtime mode stops listening for database changes after some time.

Restarting node red does help.

I need reliable 24/7 change listener.
Is there a way to detect the problem and force the listener to reconnect to Firebase?
Or make it reconect to Firebase periodically?

Could you please give me some advice how to diagnose and fix my problem?

Greetings,
Mike

[2019-07-11 22:11] Coedcoe opened #17 "Service Account Configuration for Heroku"
I have Node-RED hosted on Heroku and when Heroku cycles on a daily basis the serviceAccountJson is getting removed. Is there anyway to configure this to be persistent in the Node Flow?

[2019-07-12 04:46] #8 closed

[2019-07-12 04:59] sichangi commented on #17
Hi @Coedcoe,
At the moment this is not possible,
though after looking around a possible fix to this might be for the admin node to use the [Context API](https://nodered.org/docs/api/context/) to store and retrieve the serviceAccount contents on load.

[2019-07-12 05:04] Coedcoe commented on #17
Do you know how I can get that context api to pass into the serviceAccountJson field? I tried environment variables and saving it directly in the flow Json with no luck.

[2019-07-12 05:07] sichangi commented on #17
From your end as a consumer of the node, maybe not,
but if you're willing to make a PR for this, that'd be great 😄

[2019-07-12 13:16] JbIPS commented on #13
I must be doing something wrong but this is not working here.
I added a function node after my Firestore node with:
[code]
First issue: `get is not a function`. So I logged `msg.firestore.query` and it's an array with my where clauses.
It seamed fine in the debugger but messed up in the next node. I already know the VM of function nodes can mess up things, I don't know if this is related.

Do you

[2019-07-12 13:19] sichangi commented on #13
base on [this](https://github.com/sichangi/node-red-contrib-cloud-firestore#extensibility--further-uses)
it should be
[code]

I probably should change the firebase key to firestore to make it intuitive

[2019-07-12 13:20] sichangi commented on #13
additionally include your earlier proposition of defining whether to use the default of extend with a custom one like you've done so that you don't fire the query twice

[2019-07-12 13:32] JbIPS commented on #13
That's exactly what I did, but I cannot `get()` this query. Is there any conditions or requirements?
![screenshot](https://www.dropbox.com/s/8zfwyt3rvomgmt9/node-red_screenshot.png?dl=0)

[2019-07-12 13:37] sichangi commented on #13
Change it from ``msg.firestore`` to ``msg.firebase``

[2019-07-12 13:55] JbIPS commented on #13
Right, sorry, I didn't see that change! It works better like this but the naming can be confusing :sweat_smile:

Thank you for your help

[2019-07-12 13:57] sichangi commented on #13
No problem,😅 It happens

[2019-07-23 18:49] sichangi commented on #13
@JbIPS ,
Kindly review this pull request => #20

[2019-07-25 18:25] #13 closed

[2019-07-27 13:37] thomaslc66 commented on #3
@seanthomastima Maybe you can give your solution to help other ;-)

[2019-07-27 13:47] sichangi commented on #3
Hi @thomaslc66,
Just to pitch in here, the admin node is a [Configuration node](https://nodered.org/docs/creating-nodes/config-nodes) and once you add any of the read or write nodes into the editor, once open, the first field in the form is called admin,
you can then click the pen icon to add in you configuration

[2019-07-29 18:21] #16 closed

[2019-07-29 18:26] sichangi commented on #16
Did you get this solved, or found a work around?

[2019-07-30 07:25] Mike120Git commented on #16
The problem disappeared after hardware upgrade (to RPi 4) and full system / node-red reinstall. I am not sure what exactly caused the issue, I noticed also some network connectivity problems with the old setup.
Now it is working 24/7 flawlessly.
It looks like the problem was not related to the code, sorry to bother you.

[2019-08-22 04:43] #17 closed

[2019-10-14 21:50] jmsalomr opened #21 "Not able to choose the document name"
Hi,

I'm trying to put a name for the document to add in the collection configured in the node adding a firestore property in the precedent function node:

msg.firestore = {
    'document': msg.payload.chatId,
    'operation': 'add'
}

and although the property gets into the Firestote in node, the name of the document still is putted automatically.
Am I doing something wrong?

[2019-10-14 22:02] jmsalomr opened #22 "Not able to add a subcollection"
Hi,

I'm trying no add a subcollection but I got the following error:

msg.payload = {
    'field 1': 'a',
    'subcollection': {'field 2':'b','field 3':'c'}
}

Error: "TypeError: Cannot read property 'constructor' of null"

It works if I do:

msg.payload = {
    'field 1': 'a'
}

[2019-10-15 04:15] sichangi commented on #22
Hello,
Defining a subcollection / collection is done in the ``msg.firestore`` whereas the data is passed in through the ``msg.payload`` object.

So you'll have to do something like this for the collection
[code]

and after getting the new documents Id, this for the subcollection

[code]
or you could generate your own docuemnt id instead of waiting on the request to complete.

[2019-10-15 04:18] sichangi commented on #21
Hello,
If using the ``add`` operation, the firebase sdk will auto generate the document Id for you,
instead change the operation to ``set``.

[2019-10-15 07:47] jmsalomr commented on #21
It works. Thank you very much!

[2019-10-15 07:48] #21 closed

[2019-10-15 08:05] jmsalomr commented on #22
Hi,
Understood now.

msg.payload = {
   "field": {"field 2": "b", "field 3", : "c"}
};

doesn't work, but it does:

msg.payload = {
   "field 2": "b", "field 3" : "c"
};

Thanks.

[2019-10-15 08:12] #22 closed

[2019-10-22 16:12] JbIPS opened #23 "Externalize Firebase admin"
Hi,

I've encountered an issue when trying to use another Firebase node (firebase-auth) because it also defined an admin node.

The idea (as discussed [here](https://discourse.nodered.org/t/managing-conflicts-in-firebase-nodes/16952/8)) would be to have a standalone admin node as a peer dependency in this project and the other. I tried it (https://github.com/JbIPS/node-red-contrib-cloud-firebase-a

[2019-10-23 06:39] sichangi commented on #23
Hey,
This seems like a valid issue and will definitely be willing to take on the necessary changes.

[2019-10-23 07:57] JbIPS commented on #23
Thanks! You can already review the project linked in previous comment (if you want) and I'll create a PR next week for the integration.

Have a good day

[2019-11-22 01:57] srebling opened #24 "Authentication"
Can this be used with Firebase Authentication? (email/password)

[2019-11-24 10:34] sichangi commented on #24
Hello, @srebling
Please expound a bit on your use case / what you are trying to achieve?

[2019-11-24 23:39] srebling commented on #24
Thanks for the reply.
Trying to read/write a database with security rules restricted to authenticated users.
`service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.auth.uid != null;
    }
  }
}`
Only works if set open.
      allow read, write: if true;

[2019-11-25 07:25] sichangi commented on #24
Well,
This module wraps the Admin SDK, and from looking through the [docs](https://firebase.google.com/docs/rules/manage-deploy#use_the_admin_sdk), It seems like the Admin SDK has a much higher access level and requires no authentication for it to work.

[2019-11-27 12:50] #24 closed

[2020-01-23 17:39] MichielVanthoor opened #25 "'Firestore In' only accepting string as Query input?"
In the 'Query' section within the config of the 'Firestore In' node, I'm trying to compare fields with numbers and boolean values without success. I suspect the inputs within the config of the node are automatically handled as strings?

As as work-around I did try to create msg.firestore as an input, but it was overridden by the (mandatory) input values within the config of the node.

[2020-01-23 17:50] sichangi commented on #25
Hey @MichielVanthoor,
That's a pretty interesting discovery, and you're right it is an input field of type text,
Am not so sure on how best to handle other types, cause booleans' need a checkbox for that kind of check.
Alternatively, doing JS checks for booleans may be biased against cases where ``true / false`` is an actual string.

Do you have any suggestions?

[2020-01-24 15:37] MichielVanthoor commented on #25
Hi @sichangi, thanks for coming back to me. Next to the booleans, I'm trying to compare dates as well, you think that is easier to implement?

As a work-around, I'm thinking of  writing my own JS node to further filter the data I get back from Firestore. Given I don't deal with a lot of data, this should do the trick for me as well.

[2020-01-29 06:45] sichangi commented on #25
SGTM,
Although as you mentioned earlier, you could also just sanitize your data through a function node and pass them into the Firestore Node over the ``msg.firestore`` field. But this also depends on how you are using the Node.

I'll close this for now. Feel free to comment here after or open a new one if you have any other issues. Cheers 😄

[2020-01-29 06:45] #25 closed

[2020-03-12 13:08] JbIPS opened #27 "Custom handler for realtime"
Hi,

I have a hard time combining realtime requests and custom handler.

For the handler, I use de `deactivate` option and add a `.onSnapshot()` in a function node later, but a listener is added at [startup](https://github.com/sichangi/node-red-contrib-cloud-firestore/blob/master/src/Read/ReadNode.js#L23), multiplying the events.
But removing the `realtime` option force me to initiate the flow som

[2020-03-12 15:04] sichangi commented on #27
Hello,

You can actually disable the default handler with the ``disableHandler`` option and simply return the built Query without it being called. you can find it [here](https://github.com/sichangi/node-red-contrib-cloud-firestore#firestore-read).

You can also get the firestore object on the ``msg.firebase`` object as mentioned [here](https://github.com/sichangi/node-red-contrib-cloud-firestore#e

[2020-03-12 15:12] sichangi commented on #27
Oh wait you are referring to passing in options to the init call made for real-time functionality.

😅 my bad.

[2020-03-12 15:34] JbIPS commented on #27
Yes, I try this approach first but it's in conflict with the init.

Do you have any ideas? Personally, I'd recommend the possibility to overwrite `snapHandler` via the `msg.firestore` object

[2020-03-12 15:51] sichangi commented on #27
Hmm... I agree with you on that idea,
though the tricky question is how to parse & handle the ``snapHandler`` in a way that is intuitive to the user.

I've read through node-reds core function node and kinda have a good idea on how to handle it

[Here](https://github.com/node-red/node-red/blob/master/packages/node_modules/%40node-red/nodes/core/function/10-function.js#L247) is a reference if inter

[2020-03-12 15:56] JbIPS commented on #27
To begin with, I'd let that option to "expert user", a.k.a. from the `firestore` object only (without UI).

If we see an adoption of this feature, we could think about a "expert" section in the UI.

Would you be OK with this?

[2020-03-12 16:06] JbIPS commented on #27
2min in the code and I understand my mistake: we have to overwrite at init time, hence in the UI...

I'll look at the function node and try to copy it.

[2020-03-12 16:09] sichangi commented on #27
Yeah,
We could also just have a checkbox that reveals the input UI to simplify it

[2020-03-12 16:14] JbIPS commented on #27
Coincidentally, another node I'm working on is doing just that -> https://github.com/zuhito/node-red-contrib-sendgrid/commit/7dd1370e37475b8b951dd835a6c854eef9ba0955#diff-9e8967940921ae3e786b1d4350d0f8beR31

I'll try to make it simple

[2020-03-17 20:08] JbIPS opened #29 "Error manipulating HTTP2 socket"
Hi,

When using realtime, I get an error on each `onSnapshot()` call:
[code]
This come from NodeRED trying to manipulate the `firebase` object (which now contains a socket) when sending the message to the next node.

This `firebase` object is set [here](https://github.com/sichangi/node-red-contrib-cloud-firestore/blob/master/src/Read/ReadNode.js#L28) but I don't know why. It's not mentioned in the

[2020-03-24 15:32] cevatkerim opened #30 "Not able to read a document"
Getting this error when I try to read a document. Setting it has no issues:

"TypeError: Cannot set property bytesRead of #<Socket> which has only a getter"

[2020-04-13 00:03] thanksmister opened #31 "Error "No firebase admin specified""
I setup the node and added the Firebase Admin  SDK JSON to the config node. When I deploy the project, I receive the following errors:

I do have a firebase admin specified and I believe it's setup correctly.   Here is a snapshot of my admin settings (deprecated some information).

<img width="300" alt="admin_json" src="https://user-images.githubusercontent.com/142340/79082983-86e7d100-7d01-11ea-8

[2020-04-14 20:41] thanksmister commented on #31
This seems to be an issue when you have other Google Core IoT nodes and Firebase nodes installed that have the same Admin SDK Json authentication method.  Closing for now.

[2020-04-14 20:41] #31 closed

[2020-04-17 08:28] JbIPS opened #32 "Use mustache template in the UI"
Most of the time, I have to add a node before the Firestore one just to create the `msg.firestore` object dynamically.

Wouldn't it be great to have MustacheJS templating in the editor for `collection` and `document`? It would be the same as the HTTP Request node.

[2020-04-17 09:03] sichangi commented on #23
I'm gonna have to reopen this issue as npm does not automatically install peer dependencies & your module does not seem to show up in the pallet manager, neither does it appear in the library.
Seems I didn't catch these when I was testing it manually

Cloud firebase admin -> [here](https://flows.nodered.org/node/node-red-contrib-cloud-firebase-admin)
Reference to npm's announcement -> [here](https

[2020-04-17 09:21] sichangi commented on #32
Sounds pretty cool,
Just so we are on the same page is this how it would look like?
[code]

then in the node, you have the collection value set as
[code]
and the document
[code]

[2020-04-17 09:23] sichangi commented on #30
Hey @cevatkerim,
Might need some more context, on this?
How is the data structured...? Does this happen all the time?

[2020-04-17 09:46] sichangi commented on #29
Hmm.. am unable to reproduce the error, could you export a sample flow with the issue?
Just make sure to leave out your service account details 😄

The firebase object is documented as a means to further extend the nodes, [here](https://github.com/sichangi/node-red-contrib-cloud-firestore#extensibility--further-uses) it is in the readme

[2020-04-18 11:31] sichangi commented on #27
This is now in the latest release & has been documented.
Thanks a ton for your input 👍

[2020-04-18 11:31] #27 closed

[2020-04-19 11:43] JbIPS commented on #32
Yes, but only 2 braces :smile:
input:
[code]
and configuration of the node in the UI editor:
![Screenshot from 2020-04-19 13-42-36](https://user-images.githubusercontent.com/2248473/79686860-ab810300-8243-11ea-8272-c89c66c47d68.png)

[2020-04-19 11:48] JbIPS commented on #31
Hi @thanksmister !
Yes, if you use another node wih a Firebase admin node, you'll have some conflicts.

We're currently working on using a shared node between Firebase nodes. Which one are you using?

Thank you

[2020-04-19 12:43] JbIPS commented on #23
Sorry, I missed it too since I only install via the command line.

I updated the package  keywords so it should appears in the console.

But you're right, `peerDependencies` won't be installed automatically. Maybe I should add the instruction in the documentation and add a check ( require it, verify it exists) at runtime?

[2020-04-19 13:18] sichangi commented on #32
😅 Noted.
So on implementation am guessing it's a matter of parsing the collection / document value for mustache's then replacing the corresponding message value with it.

Do you wanna take a shot at this or should I?
Cause It seems light enough to publish in the next release with our other patches

[2020-04-19 14:24] JbIPS commented on #32
It's very lightweight, just rendering the collection and document with `Mustache.render(col, msg)`.

I already implemented it to try, works fine. Let me just rebase with your latest commits and I'll do a PR

[2020-04-19 17:54] JbIPS commented on #29
Here's a basic one, strip to the minimum
[code]
on deploy, I see the error in the console.

[2020-04-20 02:22] sichangi commented on #29
So am guessing you're trying to remove the firebase object from the ``msg`` object.
Considering that there are some ``readonly`` properties in there, you might not be able to just replace them.
Although, now that we have a customizable snapshot handler, you can actually delete it like so
[code]

[2020-04-20 02:27] #32 closed

[2020-04-20 03:43] sichangi commented on #29
In my latest commit (not yet released), I've made the ``firebase`` object ejection optional, so I believe that might also solve this issue for you.

[2020-04-20 03:43] #29 closed

[2020-04-20 08:59] JbIPS commented on #23
The repository is now [listed](https://flows.nodered.org/node/node-red-contrib-cloud-firebase-admin).
I made a few adjustment in the exported properties so it would be a drop-in replacement.

Let me know if you see any needed modifications.

[2020-04-20 09:08] JbIPS opened #38 "Use eject mode for msg.firestore"
Hi,

Just saw your `eject` mechanism and it gave me an idea: why not eject the `firestore` object too?

In my flows, I do numerous consecutive read in Firestore. I always change the collection and the document (that's easy) but I frequently forget about removing the query, ending with incoherent results.

Wouldn't it be nice to "clean up" after a query?

[2020-04-20 09:17] sichangi commented on #38
Hey,
So in a nutshell, delete the firestore property after the node is done with it?

[2020-04-20 09:28] JbIPS opened #39 "Make collection optional in the editor"
I often setup the node programmatically but I still have to provide a collection in the UI.

For now, I just put a trash in the input but we could allow an empty value and checking on input that a collection is set one way or the other.

[2020-04-20 09:31] sichangi commented on #39
Hmm.. I had a similar case,
We could do a check when the main function is called & throw accordingly

[2020-04-20 09:33] JbIPS commented on #38
Yes

[2020-04-20 13:47] sichangi commented on #38
I don't know if it's just me but even without adding any logic to the module, the firestore object doesn't seem to appear in the ``msg`` object downstream

[2020-04-20 20:45] JbIPS commented on #38
I don't know, is it me?

Here a basic flow to try, I can see the whole `firestore` object after the query:
[code]

[2020-04-21 02:59] sichangi commented on #38
Oh, now I see why I didn't notice it.
Thanks 👍

[2020-04-21 15:18] JbIPS commented on #38
So, do we cleanup? Always? Only when `!eject`?

[2020-04-21 17:00] JbIPS opened #41 "Dynamic config are made static"
I didn't notice it at first but you introduce a strange line in the [`input mechanism`](https://github.com/sichangi/node-red-contrib-cloud-firestore/blob/master/src/Read/ReadNode.js#L54).

The issue is, when using a template config (says `collection: {{myCollection}}`) in the editor, this line will set `this.collection` to the first context it come across:
1st call :
[code]
Now `this.config === 'f

[2020-04-21 17:01] JbIPS commented on #41
BTW, I don't understand why you would want to set `this.` property dynamically on input if the user hasn't set them in the editor.

[2020-04-22 03:09] sichangi commented on #38
I think when ``!eject`` is fine. It gives people the option to have it or not

[2020-04-22 18:36] JbIPS commented on #41
Worst than that, today I found that, combined with the `firestore` leaking, configurations made upstream are forced to following nodes since config is merge in firestore.

Could we just get rid of all the merging and try to be as stateless as possible on input?

[2020-04-22 20:46] sichangi commented on #41
Fixed in the latest commit

[2020-04-23 10:48] #41 closed

[2020-04-23 11:59] thanksmister commented on #31
I was using https://github.com/cyberflohr/node-red-contrib-google-iot-core/

[2020-04-23 23:13] #38 closed

[2020-04-23 23:21] #39 closed

[2020-04-24 13:40] JbIPS commented on #31
Do you have any idea why this would call an initialization of Firebase? I looked a bit and it's not even dependent of `firebase-admin`

[2020-04-24 14:11] sichangi commented on #30
This might be related to an issues regarding the exported firebase object,
we've made the firebase object optional so am hoping this might fix the issue.

If not, feel free to comment / open a new issues

[2020-04-24 14:11] #30 closed

[2020-04-24 16:06] thanksmister commented on #31
They both seem to use the new Admin SDK with JSON for authentication?

[2020-04-25 18:03] puneetsmail commented on #3
Hi @thomaslc66 ,

Can you please post your solution, may be I am doing the same mistake.

[2020-04-25 22:23] seanthomastima commented on #3
I am rather sorry to say that I am now terminally unwell with cancer and am no longer able to work an do not have access to the project. I do recall though that it was a very simple error... but cannot recall what it was. Very sorry I cannot help.
Kind regards
Sean

[2020-04-27 16:26] seb3575 opened #43 "Dynamic Document Path"
Hi everyone,

I would like to know if it is possible to write to a document with a dynamic document path. For example I get ID = "Test" from the previous node and i would like to create a document named "Test" in a given collection.

Is this possible ?

Thanks for all,

[2020-04-27 17:15] #43 closed

[2020-04-28 12:58] JbIPS commented on #3
Sorry to hear that. @puneetsmail, maybe you could tell us more about your issue and we could find a solution here?

[2020-04-28 20:37] seanthomastima commented on #3
That is a very nice thought and appreciated. But I am done it seems. I have a very aggressive tumour in my chest that has resisted treatment to date. However please know that I am OK with this. I am not happy to die, but will die happy! If you have a moment to spare take a look at www.seanofnelson.nz
:-)

[2020-06-30 19:58] SDanieldK opened #45 "Firebase Admin"
Hi there

Im trying inject a Service Account Json into the admin config. I would like to move my flow to another pi without having to manually input the Service Account Json.

Is there way to inject it or is there a way to export the flow with the Service Account Json attached.

Thanks!

[2020-06-30 20:05] JbIPS commented on #45
Hello @SDanieldK,

The service account JSON is store in the credential of NodeRED. I don't think there is a way to inject one.

The only solution to move it to another machine is to move the credential file `flow_creds.json` along and to keep the same secret (in the config file) between machine.

[2020-06-30 20:07] SDanieldK commented on #45
Hi JbIPS

Thank you for the quick response I will try that.

All the best!

[2020-07-14 03:05] #45 closed

[2020-07-17 10:50] joeyboey opened #46 "Ejected Firebase Admin SDK not usable"
The exposed APIs from the Firestore Nodes cannot be used any further. As soon as a node is connected (other from a debug node) the node throws the error:
`TypeError: Cannot assign to read only property 'writeQueueSize' of object '#<Pipe>'`

Node Red Version: v1.0.6

[2020-07-20 11:46] BorisDaich opened #47 "no way to add/create a document with specified ID"
at least I could not find a way

IMHO
it seems that
at https://github.com/sichangi/node-red-contrib-cloud-firestore/blob/master/src/Write/WriteNode.js
line 72
[code]

the `collection(col).add(payload); ` always will create a document with firestore assigned ID

====

proposal:
if document is set on "add" use it as an ID of the document created

[2020-07-20 12:15] sichangi commented on #47
Hi @BorisDaich 👋

I think you want to use the ``set`` operation linked [here](https://firebase.google.com/docs/firestore/manage-data/add-data#set_a_document).
You can also dynamically set the documents ID as documented [here](https://github.com/sichangi/node-red-contrib-cloud-firestore#firestore-write)

[2020-07-20 12:17] sichangi commented on #46
Hi @joeyboey  👋

Thanks for the heads up, Let me look into.

[2020-07-22 15:01] #47 closed

[2020-07-22 21:12] BorisDaich commented on #47
Great! It worked. Thank you so much for the prompt response. I am sorry it took me so long to try it and get back with the the Thank you! that you deserve!

[2020-07-29 14:26] jasonAspireWPG opened #48 "Unable to Submit ServiceAccount.json"
When in the configuration node there is no place to upload serviceaccount.json or to cut and paste it in.

[2020-07-29 14:35] sichangi commented on #48
Hey @jasonAspireWPG  👋

Could you upload a screenshot of the issue?

[2020-08-03 03:06] #48 closed

[2020-09-24 19:36] mu3 opened #50 "Can't declare an array within Function node"
I'm trying to create a new doc (Add operation):

    {
      "title": "test",
      "tags": ["foo", "bar"]
    }

But setting `msg.payload.tags` array in a Function node causing this error:
`Error: Cannot encode value: foo,bar`

## Example flow

<img width="666" alt="Screen Shot 2020-09-25 at 16 39 40" src="https://user-images.githubusercontent.com/661220/94274081-e81cfd00-ff4d-11ea-89f8-c798913d3

[2020-09-24 20:31] JbIPS commented on #50
Hello @mu3 ,

Could you tell us more about what you're trying to do? Adding value to an array in Firestore?

Ideally, could you share your flow with us?

Thank you

[2020-09-25 13:46] mu3 commented on #50
Updated the issue

[2020-09-25 14:51] JbIPS commented on #50
Thank you, that's much clearer now.

To be concise, an array (or any object) created in a Function node is created in a VM. Thus, when Firestore check the type of `msg.payload.tags`, it won't reconize it as an Array. This is fully explained by the creator of NodeRED [here](https://discourse.nodered.org/t/payload-and-js-plain-object/12100/2).

Workaround: create the array in a Change node before an

[2020-09-25 16:08] mu3 commented on #50
Huh that's interesting.

Thank you for your help!

[2020-09-29 18:37] #50 closed

[2020-10-13 19:20] lely475 opened #51 "Error when updating array of objects"
Hi,

I want to update a document containing an array of objects, lets say:
`buttonStatus = [{buttonId: 1, status: true,}, {buttonId: 2, status: false,},{buttonId: 3, status: true}]`
and instead of updating a single array element I would like to always update the full array.

When I try this:
![Bildschirmfoto 2020-10-13 um 21 15 25](https://user-images.githubusercontent.com/62755943/95905491-3a0cb2

[2020-10-17 05:02] sichangi commented on #51
Hey @lely475,
Thanks for reporting this.

It seems the error is being thrown within the [SDK over here](https://github.com/googleapis/nodejs-firestore/blob/master/dev/src/serializer.ts#L211)

I'll look into what's causing the issue as I've been able to replicate the issue.

[2020-10-17 18:56] lely475 commented on #51
Thank you, I appreciate it!

[2020-11-27 15:29] lely475 commented on #51
Hi @sichangi,
are there any updates on this issue?

[2020-12-02 19:25] pcastilloq commented on #51
Hi, I have a similar error. And looking the error message I noticed that it said **Error: Cannot encode value: [object Object],[object Object],[object Object]** and in the SDK `throw new Error(`Cannot encode value: ${val}`);` so val = [object Object],[object Object],[object Object], but val should be recognized as a Array but is not [https://github.com/googleapis/nodejs-firestore/blob/master/dev/s

[2021-03-12 22:02] kerplunkfsd opened #52 "question about sub-collections in "node-red-contrib-cloud-firestore""
Hello, I'm a beginner in node-red and I'm using the "node-red-contrib-cloud-firestore" and I have a question that I can't find anywhere. In my firestore, I have a collection with two documents and within those documents I have another collection in both.

![image](https://user-images.githubusercontent.com/80550440/111003097-46576400-8365-11eb-8a7a-05907a2c8341.png)

I would like to receive data fr

[2021-03-12 22:31] JbIPS commented on #52
Hi,
The limitation is on Firebase by design: you're not supposed to do that.

But you have 2 way to bypass this:
1. If you always want to get those data together, do not use a sub-collection but a array or a map as value type.
2. If you want those collections to be independent (as sub-collections), you'll need to loop. First, loop on the level 1 collection and for each key, get all the values in t

[2021-03-12 22:39] kerplunkfsd commented on #52
The second way seems to solve my problems, thank you very much.

I'm really a beginner in node-red, can you give me any tips on how to do it?

Thank you again.

[2021-04-13 18:15] #52 closed

[2021-06-07 09:37] Stasfe opened #53 "Error: 13 INTERNAL: Failed to start HTTP/2 stream"
Hey,
I'm testing around with your nodes and everything worked as expected so far. But somehow over the weekend I got this error with write node when I was trying to update a document: `Error: 13 INTERNAL: Failed to start HTTP/2 stream`.
What is it about and how to avoid it in future? After some clicking in the firebase and made some reads it starts working again.

[2021-06-07 14:00] JbIPS commented on #53
Hi @Stasfe,

Could you tell us more about your flow? What's going in? I've never seen this error so maybe you have some special parameter in your `msg`.

[2021-06-08 06:49] Stasfe commented on #53
Hi,
absolutely nothing speacial. I take a double value from my plc and update the value in the cloud.
![image](https://user-images.githubusercontent.com/46917944/121136228-b3c84300-c835-11eb-9d0b-e24c60c11c5c.png)

today morning I had the same issue: `Error: 13 INTERNAL: Failed to start HTTP/2 stream`, after I hit this 8 and 0 couple times, it goes away.
With deadband node I watch the value and bl

[2021-06-08 13:43] JbIPS commented on #53
You're right, nothing's wrong with your data.

After some searches, I found out it's related with a [Google problem](https://github.com/googleapis/nodejs-datastore/issues/723). The discussion suggests updating your google dependencies, but the issue seems so random it's difficult to say it will solve it definitely.

Sorry for this not-so-good-news answer :sweat_smile:

[2021-06-10 12:14] Stasfe commented on #53
What is meant by "update you google dependencies"? Do I have any? I just use this write node. Do I have to update something inside firebase?

[2021-06-16 07:02] Stasfe commented on #53
So error still here, but I figured out that it happens over night. The whole day long is nothing and in the next morning the error is there. And I found out how to quit this error without restarting nodered. I just need to open service account file (where my admin accout allready exists) and just hit the update button without any changes, after that I need to deploy again and it starts working.
ca

[2021-06-16 09:02] JbIPS commented on #53
If it happens over night, did you notice any network issue at this time?

Catching the error good be a good start but do you know where it come from? If "updating" the settings fixes it, maybe it's in the [initialization](https://github.com/sichangi/node-red-contrib-cloud-firestore/blob/c09059fab735f2b522174e487d000a47f0c7a972/src/admin/firebaseAdminNode.js#L8).

[2021-06-16 10:13] Stasfe commented on #53
No I didnt notice any network issues, cause I also run a graph on the dashboard with data over http request and there are no gaps.
Also I just unpluged raspberry (where I run my node red) and plugged in again. The node works since nodered starts without issues.

I will try to write into another database on another raspy and see how it goes.

[2021-06-17 21:55] filipedias1994 opened #54 "send timestamp to firebase"
Hi!
I'm trying to update fields of a document through a json via node-red. This field in Firebase is timestamp format, but when sending a json:

, the field in Firebase becomes number with the value sent.

Is there a way to send a timestamp and Firebase recognize it as a timestamp?

Thanks!

[2021-06-18 08:13] JbIPS commented on #54
Hi,

Can you give us a sample of the JSON data?

When I need a `Timestamp` I send a Javascript `Date` to the Firebase node and it is interpreted as a timestamp in Firebase.

[2021-07-05 06:48] Stasfe commented on #53
Hey, short update.
I just clean up my code recently and use write node inside subflow with 2 instances. And it works fine now, I dont have any issues since 2 weeks now.
I also had before 2 real time reading nodes. I will see how it goes when I implement them again.

[2021-07-05 07:47] JbIPS commented on #53
Thank your for the update! I'm closing this one but feel free to reopen if you encounter issues again.

[2021-07-05 07:47] #53 closed

[2021-07-05 07:47] #54 closed

[2022-04-29 17:10] GaneshBaronAloir opened #55 "Error on Raspberry Pi Zero W: Liftoff bailout should not happen. Cause: Armv6 not supported"
Hello, since I installed the library on my Raspberry Pi Zero W, node-red won't open and says the following error: Liftoff bailout should not happen. Cause: Armv6 not supported. Any fix or works around available?

[2022-05-11 13:44] Stasfe opened #56 "Working with msg.firestore"
Hello,
I am not sure how to work with msg.firestore. There is nowhere an example for it.

I have payload with couple of values. And I would like to add this payload into firestore with add operation into a collection set with msg.firestore.

How to do this?

This are my values:
![image](https://user-images.githubusercontent.com/46917944/167864101-9be94827-00ec-4434-83d8-835f7339792c.png)

And I wo

[2022-05-12 10:00] JbIPS commented on #56
Hello @Stasfe,

You can find documentation on `msg.firestore` in the Readme : [Firestore Write](https://github.com/sichangi/node-red-contrib-cloud-firestore#firestore-write).

Basically, you'd want something like:
[code]

You're welcome to update the Readme with a full-length example of adding data to the database to help future users.

[2022-05-12 10:03] JbIPS commented on #55
Hi @GaneshBaronAloir,

It seems like NodeRed (or one of its dependencies) is not compatible with the architecture of your RPi Zero W (ARMv6).

I'm sorry but there is nothing we can do at our level.

[2022-05-12 10:03] #55 closed

[2022-05-19 16:21] GaneshBaronAloir commented on #55
Hey @JbIPS just letting you know that I could track further down the problem coming from Firebase Auth.  Please note that Node-Red is fully compatible with RPi Zero W. I can use my project without any problem both Firebase Auth and Firebase can be installed on Node-Red on the Pi Zero. If I drag a Firestore node and commit it's fine, but as soon as I enter a Service Account JSON credentials it cras

[2022-05-20 09:04] JbIPS commented on #55
Thank you for the information, I wonder why the Service Account would provoke such a thing.